* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Comic Neue', cursive;
}

header {
    background-color: #fb7b6b;
    height: 100vh;
    position: relative;
    color: #FFF;
}

header .welcome {
    position: absolute;
    top: 3%;
    width: 100%;
    text-align: center;
}

header .welcome p {
    font-size: 5rem;
    font-weight: 700;

}

header .welcome h1, h2 {
    font-size: 2rem;
}

header .welcome button {
    padding: 10px 30px;
    margin-top: 5%;
    font-size: 1.5rem;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    text-transform: uppercase;
}

header .welcome button:hover {
    color: #fb7b6b;
    background-color: #FFF;
}

header img {
    position: absolute;
    width: 90%;
    bottom: 0;
    right: 0;
}

section.technology {
    background-color: #FFF;
    position: relative;
    width: 100%;
    text-align: center;
    color: #d7385e;
}

section.technology h2:first-child {
    margin-top: 5%;
    font-size: 3rem;
}

section.technology h2 {
    margin-top: 3%;
    padding: 0 5%;
    font-size: 2rem;
}

section.technology img {
    width: 90%;
}

section.technology p {
    margin-top: 3%;
    font-size: 1.5rem;
    padding: 0 5%;
}

section.motto {
    margin-top: 5%;
    background-image: url('images/motto.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    text-align: center;
}

section.motto {
    color: #FFF;
    padding-top: 20%;
}

section.motto h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
}

section.motto p:first-of-type {
    margin: 25% 0;
    padding: 5%;
    font-size: 1.5rem;
    color: #d7385e;
    font-style: italic;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

section.motto p:last-child {
    color: #d7385e;
    font-size: 1.5rem;
}

section.hobby {
    background-color: #FFF;
    padding-top: 20%;
    text-align: center;
}

section.hobby h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 10%;
}

section.hobby img {
    width: 100%;
}

section.contact {
    background-color: #000;
    color: #FFF;
    padding-top: 10%;
    text-align: center;
}

section.contact h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 5%;
}

section.contact input {
    padding: 2%;
    margin: 5% auto 0;
    width: 80%;
}

section.contact textarea {
    padding: 2%;
    margin: 5% auto 0;
    width: 80%;
}

section.contact button {
    margin: 5% auto;
    width: 80%;
    background-color: #000;
    color: #FFF;
    text-transform: uppercase;
    padding: 5% 10%;
    border: 2px solid #FFF;
}

section.contact button:hover {
    background-color: #FFF;
    color: #000;
    border: 2px solid #000;
}

section.contact .socials {
    margin-top: 10%;
}   

section.contact .socials span {
    position: relative;
    display: block;
    height: 50px;
}

section.contact .socials img {
    position: absolute;
    width: 10%;
    left: 10%;
    bottom: 50%;
}

section.contact .socials p {
    font-size: 1.2rem;
}

footer {
    background-color: #fb7b6b;
    text-align: center;
}

footer p {
    padding: 8%;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    header .welcome p {
        font-size: 7rem;
    }
    
    header .welcome h1, h2 {
        font-size: 4.5rem;
    }
    
    header .welcome button {
        font-size: 4rem;
    }
    
    header .welcome button:hover {
        color: #fb7b6b;
        background-color: #FFF;
    }
    
    header img {
        width: 70%;
    }

    section.technology h2:first-child {
        font-size: 5rem;
    }

    section.technology h2 {
        font-size: 4rem;
    }
    
    section.technology p {
        font-size: 3rem;
    }
    
    section.motto h2 {
        font-size: 4.5rem;
    }
    
    section.motto p:first-of-type {
        font-size: 3rem;
    }
    
    section.motto p:last-child {
        font-size: 2.5rem;
    }
    
    section.hobby h2 {
        font-size: 4rem;
    }
    
    section.contact h2 {
        font-size: 4rem;
    }
    
    section.contact input {
        font-size: 2rem;
    }
    
    section.contact textarea {
        font-size: 2rem;
    }
    
    section.contact button {
        font-size: 2rem;
    }
    
    
    section.contact .socials {
        margin-top: 10%;
    }   
    
    section.contact .socials span {
        height: 100px;
    }
    
    section.contact .socials img {
        bottom: 50%;
    }
    
    section.contact .socials p {
        font-size: 2.2rem;
    }
    
    footer p {
        font-size: 2.2rem;
    }
}

@media (min-width: 1024px) {
    header .welcome p {
        font-size: 6rem;
    }
    
    header .welcome h1, h2 {
        font-size: 4rem;
    }
    
    header .welcome button {
        font-size: 3rem;
    }
    
    header .welcome button:hover {
        color: #fb7b6b;
        background-color: #FFF;
    }
    
    header img {
        width: 50%;
    }
    
    section.technology img {
        width: 50%;
    }

    section.technology h2 {
        font-size: 3rem;
    }
    
    section.technology p {
        font-size: 2rem;
    }
    
    section.hobby {
        padding-top: 10%;
    }
    
    section.contact .socials span {
        height: 120px;
    }
    
}

@media (min-width: 1400px) {
    header .welcome {
        top: 30%;
        width: 50%;
    }
    
    header img {
        width: 40%;
    }
    
    section.technology img {
        width: 30%;
    }

    section.technology h2 {
        font-size: 3rem;
    }

    section.motto {
        padding-top: 10%;
    }

    section.motto p {
        margin: 10% 0;
    }
    
    section.hobby {
        padding-top: 0%;
    }

    section.hobby img {
        width: 50%;
        float: left;
    }
    
    section.contact {
        padding-top: 0%;
    }

    section.contact input {
        width: 50%;
    }

    section.contact textarea {
        width: 50%;
    }

    section.contact button {
        width: 50%;
        padding: 2% 4%;
    }

    section.contact .socials span {
        height: 100px;
    }
    
    section.contact .socials img {
        width: 5%;
        left: 20%;
    }

    footer p {
        padding: 4%;
    }
}


@media (min-width: 1600px) {
    header {
        height: 60vh;
    }

    header .welcome {
        top: 30%;
        width: 50%;
    }
    
    header img {
        width: 20%;
    }

    section.technology {
        max-width: 1400px;
        margin: 0 auto;
    }
    

    section.motto {
        padding-top: 10%;
    }

    section.motto p {
        margin: 5% 0 !important;
    }
    
    section.hobby {
        padding-top: 5%;
    }

    section.hobby img {
        width: 50%;
        float: left;
    }
    
    section.contact {
        padding-top: 0%;
    }

    section.contact input {
        width: 50%;
    }

    section.contact textarea {
        width: 50%;
    }

    section.contact button {
        width: 50%;
        padding: 2% 4%;
    }

    section.contact .socials span {
        height: 100px;
    }
    
    section.contact .socials img {
        width: 5%;
        left: 20%;
    }

    footer p {
        padding: 4%;
    }
}